.new-background-color {
    --background: linear-gradient(100deg, #9df7fc 46%, #1eff0a 98%);
    font-family: 'Kanit', sans-serif;
  }
  
  ion-button {
    font-family: 'Kanit', sans-serif;
  }
  
  ion-content {
    --background: url('../image/kisspng-highway-free-download-cartoon-yellow-house-road-5a998953d6f1c3.2881117915200116038804.png') 20% 20%;
  }